<div class="l-separated l-container">
    <h2 class="headline-section">Coffee</h2>

    <div class="list-coffee l-col-8">
        <span class="ss-icon coffee"></span>
        <span class="ss-icon coffee"></span>
        <span class="ss-icon coffee"></span>
        <span class="ss-icon coffee"></span>
        <span class="ss-icon coffee"></span>
        <span class="ss-icon coffee"></span>
        <span class="ss-icon coffee new"></span>
        <button class="ico"><span class="ss-plus"></span> Add a shot</button>
    </div>

    <dl class="list-counter l-col-4">
        <dt>123</dt>
        <dd>GoodCaffeine mg</dd>
    </dl>

</div>

