<div class="l-separated l-container">
    <h2 class="headline-section">Coffee</h2>

    <div class="list-coffee l-col-8">
        {{#each content.coffees20}}
        <span {{bindAttr class="isNew:new :ss-icon :coffee"}}><span class="num">20</span></span>
        {{/each}}
        {{#each content.coffees5}}
        <span {{bindAttr class="isNew:new :ss-icon :coffee"}}><span class="num">5</span></span>
        {{/each}}
        {{#each content.coffees}}
        <span {{bindAttr class="isNew:new :ss-icon :coffee"}}></span>
        {{/each}}

        <!--<span class="ss-icon coffee new"></span>-->
        {{#if showSubmit}}
            <button {{action submitCoffee}} type="submit" class="ico"><span class="ss-plus"></span> Add a shot</button>
        {{/if}}
    </div>

    <dl class="list-counter l-col-4">
        <dt>{{content.mg}}</dt>
        <dd>GoodCaffeine mg</dd>
    </dl>

</div>

