<div class="photos l-col-8">
    <h2 class="headline-section">Photos <small>of #goohack photos</small></h2>

    <ul class="photoItems">
        <li><a href="#"><img src="images/something.jpg" width="140" height="140" alt=""></a></li>
        <li><a href="#"><img src="images/something.jpg" width="140" height="140" alt=""></a></li>
        <li><a href="#"><img src="images/something.jpg" width="140" height="140" alt=""></a></li>
        <li><a href="#"><img src="images/something.jpg" width="140" height="140" alt=""></a></li>
        <li><a href="#"><img src="images/something.jpg" width="140" height="140" alt=""></a></li>
        <li><a href="#"><img src="images/something.jpg" width="140" height="140" alt=""></a></li>
    </ul>

    <button class="ico"><span class="ss-camera"></span> TwitPic</button>
    <button class="ico"><span class="ss-camera"></span> Instagram</button>
</div>
