<div class="l-separated l-container">
    <h2 class="headline">Projects</h2>

    <table class="repos-list">

    {{#each content}}
        <tr>
            <th colspan="3"><a {{bindAttr href="projectUrl"}}>{{title}}</a></th>
        </tr>
    {{/each}}
    {{#if showSubmit}}
        <tr class="editable">
            <th class="l-col-8 repo-item">
            {{view Ember.TextField valueBinding="repoTitle" classes="full" placeholder="Project title"}}
            </th>
            <th class="l-col-8 repo-item">
            {{view Ember.TextField valueBinding="repo" classBinding=":full isRepoUrlValid::is-error" placeholder="Project page url"}}
            </th>
            <td class="l-col-4"><button {{action submitRepo repo repoTitle}} type="submit">Submit project</button></td>
        </tr>
    {{/if}}
    </table>

    <!--button class="ico"><span class="ss-plus"></span> Add repo/branch</button-->
</div>
