<div class="l-separated l-container">
    <h2 class="headline">Repos/branches</h2>

    <table class="repos-list">

    {{#each content}}
        <tr>
            <th colspan="2"><a {{bindAttr href="url"}}>{{name}}</a></th>
        </tr>
    {{/each}}
    <tr class="editable">
        <th class="l-col-8">
        {{view Ember.TextField valueBinding="repo" classBinding=":full isRepoUrlValid::is-error" placeholder="Your repo here"}}
        </th>
        <td class="l-col-4"><button {{action submitRepo repo branch}} type="submit" {{bindAttr disabled="isSubmitDisabled"}}>Submit repo</button></td>
    </tr>
    </table>

    <!--button class="ico"><span class="ss-plus"></span> Add repo/branch</button-->
</div>
