<div class="l-separated l-container">
    <h2 class="headline">Repos/branches</h2>

    <table class="repos-list">

        <tr>
            <th><a href="#">sokolik/vertica-migration</a></th>
            <td><div class="progress" style="width: 82%;">8.2</div></td>
        </tr>

        <tr>
            <th><a href="#">mc/hubertizer-upgrade</a></th>
            <td><div class="progress" style="width: 23%;">2.3</div></td>
        </tr>
    </table>

    <button class="ico"><span class="ss-plus"></span> Add repo/branch</button>
</div>
