<div class="feed l-col-4">
    <h2 class="headline-section">Feed <small>of #goodhack tweets</small></h2>

    <div class="feedItems">
        <div class="feedItem">
            <p>Fantastic first day in Berlin at droidcon - more than 130 attendees for the hackaton compared to 40 last year. Today the barcamp ...</p>
            <div class="feedItem-meta">
                <a href="#">@akloboucnik</a>
                <span>25 mins ago</span>
            </div>
        </div>

        <div class="feedItem">
            <p>Grumpy cat found and terminated. I'll be back, guys and lads.</p>
            <div class="feedItem-meta">
                <a href="#">@jasanek</a>
                <span>2 hours ago</span>
            </div>
        </div>
    </div>

    <button class="ico"><span class="ss-chat"></span> Twitter</button>
</div>
