<div class="feed l-col-4">
    <h2 class="headline-section">Feed <small>of #gdhackathon tweets</small></h2>

    <div class="feedItems">
        {{#each content}}
            <div class="feedItem">
                <p>{{{tweet}}}</p>
                <div class="feedItem-meta">
                    <a {{bindAttr href="userUrl"}}>{{user}}</a>
                    <!--<span>25 mins ago</span>-->
                    <span>{{createdAtAgo}}</span>
                </div>
            </div>
        {{/each}}
    </div>

    <button class="ico" onclick="window.open('https://twitter.com/search?q=%23gdhackathon&src=hash');"><span class="ss-chat"></span> Twitter</button>
</div>
