/* ==========================================================================
   Variables for theme definition
   ========================================================================== */

$primary-font: "FrutigerLTW01-45Light", "Frutiger LT Prod", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$primary-font-light: "FrutigerLTW01-45Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$primary-font-bold: "FrutigerLTW01-67BoldCn", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$button-background: #fbc91e;