/* ==========================================================================
   Basic styling
   ========================================================================== */

script {
    display: none !important; // Go to hell, metamorphs!
}

html, body, h1, h2, h3, h4, p, dl, dt, dd {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

body {
    font: 300 13px/1.5384 $primary-font;
}

h1, h2, h3, h4 {
    line-height: normal;
}

/* ==========================================================================
   Default states
   ========================================================================== */

