/*
Syntax error: Undefined mixin 'clearfix'.
        on line 12 of scss/layout.scss, in `clearfix'
        from line 12 of scss/layout.scss

7:     margin: 0 auto;
8:     padding: 0 20px;
9: }
10: 
11: .l-container {
12:     @include clearfix();
13:     position: relative;
14:     clear: both;
15:     width: 100%;
16: }
17: 

Backtrace:
scss/layout.scss:12:in `clearfix'
scss/layout.scss:12
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/plugin.rb:107:in `method_missing'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/exec.rb:463:in `watch_or_update'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/exec.rb:326:in `process_result'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/exec.rb:41:in `parse'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/lib/sass/exec.rb:21:in `parse!'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.12/bin/sass:9:in `<top (required)>'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/bin/sass:19:in `load'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/bin/sass:19:in `<main>'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/bin/ruby_noexec_wrapper:14:in `eval'
/Users/petrvolny/.rvm/gems/ruby-1.9.3-p327/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'clearfix'.\A         on line 12 of scss/layout.scss, in `clearfix'\A         from line 12 of scss/layout.scss\A \A 7:     margin: 0 auto;\A 8:     padding: 0 20px;\A 9: }\A 10: \A 11: .l-container {\A 12:     @include clearfix();\A 13:     position: relative;\A 14:     clear: both;\A 15:     width: 100%;\A 16: }\A 17: "; }
