$page-background: #1d232c;
$line-color: #343941;
$important-color: #fbc91e;

%muted {
    color: #494d55;
}

%highlighted {
    color: #a1bde3;
}

%separated {
    border: 2px solid $line-color;
}

%separated-top {
    @extend %separated;
    border-width: 2px 0 0;
}

%separated-bottom {
    @extend %separated;
    border-width: 0 0 2px;
}

@include selection(#fbc91e, #000);

body {
    color: #fafafa;
    background: $page-background;
}

a {
    @extend %highlighted;
}

.l-primary {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 5;
        opacity: 0;
        background: url("../design/design.png") 50% 0 no-repeat;
    }
}


/* ==========================================================================
   Headlines
   ========================================================================== */

%headline {
    text-transform: uppercase;
    font-size: 13px;
}

h1 {
    font-size: 50px;
}

h2 {
    @extend %headline;
    font-size: 14px;
    font-weight: normal;
    color: #fff;

    small {
        @extend %muted;
        margin-left: 1em;
        text-transform: none;
    }
}

.headline {
    padding: 15px 0;
}

.headline-section {
    @extend .headline;
    @extend %separated-top;
}

/* ==========================================================================
   Animations
   ========================================================================== */

// @include keyframes(bgcolor) {
//     0% {
//         color: #a1bde3;
//     }

//     50% {
//         color: #fbc91e;
//     }

//     100% {
//         color: #a1bde3;
//     }
// }

/* ==========================================================================
   Header
   ========================================================================== */

.header {
    @extend %separated-bottom;
    padding-top: 230px;
    min-height: 70px;
    background: url("../images/header.png") 100% 50px no-repeat;
}

.header-date {
    @extend %headline;
    @extend %muted;
    position: absolute;
    left: 0;
    top: 20px;
}

.header-title {
}

/* Actions
   ========================================================================== */

%action {
    > dt {
        @extend %headline;
        @extend %muted;
        margin-bottom: 5px;
    }

    > dd {
        font-size: 22px;
        color: #fff;
    }
}

.action-now {
    @extend %action;

    > dd {
        color: $important-color;
    }
}

.action-next {
    @extend %action;
}

/* ==========================================================================
   GoodPoints
   ========================================================================== */

.goodpoints {
    min-height: 140px;
    padding: 65px 0;
}

.goodpoints-info {
    margin-top: -30px;
    font-size: 36px;
    text-transform: none;
}

.goodpoints-points {
    @extend %muted;
    line-height: 1;
    text-align: right;
    letter-spacing: 5px;
    font-size: 167px;

    @include transition(.2s color ease-in-out);

    > strong {
        @extend %highlighted;
        // -webkit-animation-duration: 3s;
        // -webkit-animation-name: bgcolor;
        // -webkit-animation-iteration-count: infinite;
    }
}

/* ==========================================================================
   Progressbar
   ========================================================================== */

@include keyframes(progressbar) {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.progressbar {
    width: 100%;

    &, & > div {
        height: 7px;
        background: #343942 url('../images/progressbar.png') 0 0 repeat;
    }

    > div {
        background-color: $important-color;
        -webkit-animation-duration: 3s;
        -webkit-animation-name: progressbar;
        -webkit-animation-iteration-count: infinite;
    }
}

/* ==========================================================================
   Schedule
   ========================================================================== */

.schedule-headline {
    padding: 15px 25px;
    text-transform: none;
    font-size: 24px;

    small {
        font-size: 16px;
    }
}

.schedule {
    margin-bottom: 60px;
    padding: 10px 0;
    min-height: 260px;
    border-right: 1px solid $page-background;
    font-size: 16px;
    color: #fff;
    background: #343941;

    > table {
        table-layout: fixed;
        width: 100%;
        border-spacing: 0;
    }

    tr {
        @include transition(.2s color ease-in-out);
    }

    th, td {
        padding: 2px 20px 2px 25px;
    }

    th {
        width: 50px;
        text-align: left;
    }

    .is-schedule-past {
        color: #5c6167;
    }

    .is-schedule-actual {
        color: $important-color;
    }
}

// @include phone {
//     .schedule {
//         display: none;
//     }

//     .is-schedule-today {
//         display: block;
//     }
// }

/* ==========================================================================
   Repos
   ========================================================================== */

.repos {

}

/* General layout rules
   ========================================================================== */

/* General layout rules
   ========================================================================== */