$page-background: #1d232c;
$line-color: #343941;
$hightlighted-color: #a1bde3;
$important-color: #fbc91e;
$box-background: #343941;

%muted {
    color: #494d55;
}

%highlighted {
    color: $hightlighted-color;
}

%separated {
    border: 2px solid $line-color;
}

%separated-top {
    @extend %separated;
    border-width: 2px 0 0;
}

%separated-bottom {
    @extend %separated;
    border-width: 0 0 2px;
}

@include selection(#fbc91e, #000);

body {
    color: #fafafa;
    background: $page-background;
}

a {
    @extend %highlighted;

    &:hover,
    &:focus
    &:active {
        color: $important-color;
    }
}

%form-item {
    height: 40px;
    padding: 0 10px;
    border: none;
    line-height: 40px;
    font: bold 18px $primary-font;

    @include transition(.1s all ease-in-out);
    @include border-radius(5px);
}

/* ==========================================================================
   Forms
   ========================================================================== */

input {
    @extend %form-item;
    color: #fff;
    background: $box-background;

    &.full {
        @extend %sandboxed;
        width: 100%;
    }
}

button {
    @extend %form-item;
    margin-right: 10px;
    color: #1d232c;
    background: $button-background;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        background: $hightlighted-color;
    }

    &.ico {
        position: relative;
        padding-left: 50px;

        > span {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            overflow: hidden;
            width: 40px;
            padding-top: 4px;
            border-right: 1px solid $page-background;
            text-align: center;
            line-height: 36px;
        }
    }
}

/* ==========================================================================
   Headlines
   ========================================================================== */

%headline {
    text-transform: uppercase;
    font-size: 14px;

    small {
        font-size: 13px;
    }
}

h1 {
    font-size: 50px;
}

h2 {
    @extend %headline;
    font-size: 14px;
    font-weight: normal;
    color: #fff;

    small {
        @extend %muted;
        margin-left: 1em;
        text-transform: none;
    }
}

.headline {
    @extend %headline;
    padding: 15px 0 25px;
}

.headline-section {
    @extend .headline;
    @extend %separated-top;

}

/* ==========================================================================
   Header
   ========================================================================== */

.header {
    @extend %separated-bottom;
    padding-top: 230px;
    min-height: 70px;
    background: url("../images/logo.png") 100% 40px no-repeat;
}

.header-date {
    @extend %headline;
    @extend %muted;
    position: absolute;
    left: 0;
    top: 20px;
}

.header-title {
    margin-top: 5px;

    span {
        @extend %highlighted;
    }
}

/* Actions
   ========================================================================== */

%action {
    > dt {
        @extend %headline;
        @extend %muted;
        margin-bottom: 5px;
    }

    > dd {
        letter-spacing: 3px;
        font-size: 22px;
        color: #fff;
    }
}

.action-now {
    @extend %action;

    > dd {
        color: $important-color;
    }
}

.action-next {
    @extend %action;
}

/* ==========================================================================
   GoodPoints
   ========================================================================== */

.goodpoints {
    min-height: 140px;
    padding: 65px 0;
}

.goodpoints-info {
    margin-top: -30px;
    text-transform: none;
    font-size: 36px;
    font-weight: normal;
}

.goodpoints-points {
    @extend %muted;
    margin: 20px -2px -16px 0;
    line-height: 1;
    text-align: right;
    letter-spacing: -1px;
    font-size: 167px;

    @include transition(.2s color ease-in-out);

    > strong {
        @extend %highlighted;
        // -webkit-animation-duration: 3s;
        // -webkit-animation-name: bgcolor;
        // -webkit-animation-iteration-count: infinite;
    }
}

/* ==========================================================================
   Progressbar
   ========================================================================== */

@include keyframes(progressbar) {
    0% {
        @include box-shadow(0 0 10px $important-color);
        opacity: 1;
    }

    50% {
        @include box-shadow(0 0 0 $important-color);
        opacity: .5;
    }

    100% {
        @include box-shadow(0 0 10px $important-color);
        opacity: 1;
    }
}

.progressbar {
    overflow: hidden;
    width: 100%;

    &, & > div {
        height: 7px;
        background: #343942 url('../images/progressbar.png') 0 0 repeat;
    }

    > div {
        background-color: $important-color;
        -webkit-animation-duration: 3s;
        -webkit-animation-name: progressbar;
        -webkit-animation-iteration-count: infinite;
    }
}

/* ==========================================================================
   Schedule
   ========================================================================== */

.schedule-headline {
    padding: 15px 25px;
    text-transform: none;
    font-size: 24px;

    small {
        font-size: 16px;
    }
}

.schedule {
    padding: 10px 0;
    min-height: 260px;
    border-right: 1px solid $page-background;
    font-size: 16px;
    color: #fff;
    background: $box-background;

    > table {
        table-layout: fixed;
        width: 100%;
        border-spacing: 0;
    }

    tr {
        @include transition(.2s color ease-in-out);
    }

    th, td {
        padding: 2px 20px 2px 25px;
    }

    th {
        width: 50px;
        text-align: left;
    }

    .is-schedule-past {
        color: #5c6167;
    }

    .is-schedule-actual {
        color: $important-color;
    }
}

.is-schedule-decorated {
    background: #343941 url("../images/tools.png") 100% 100% no-repeat;
}

// @include phone {
//     .schedule {
//         display: none;
//     }

//     .is-schedule-today {
//         display: block;
//     }
// }

/* ==========================================================================
   Repos
   ========================================================================== */

.repos-list {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 25px;
    border-spacing: 0;
    border-top: 1px solid #343941;
    line-height: 1;

    th, td {
        padding: 24px 0 13px;
        border-bottom: 1px solid #333941;
    }

    th {
        @include text-overflow();
        text-align: left;
        font-size: 36px;

        a {
            text-decoration: none;
        }
    }

    td {
        text-align: right;
        font-size: 20px;
    }
}

.progress {
    @extend %sandboxed;
    float: right;
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    background: #343941;
}

/* ==========================================================================
   Coffees
   ========================================================================== */

.list-coffee {
    @include clearfix();
}

.coffee {
    $coffee-size: 300px;

    position: relative;
    width: $coffee-size;
    height: $coffee-size;
    line-height: $coffee-size;
    font-size: $coffee-size;
    margin: 0 auto;
    padding-left: 60px;

    &:after {
        content: 'coffee';
        position: absolute;
        left: 60px;
        top: 0;
        right: 0;
        bottom: 0;
        clip: rect(0, $coffee-size, $coffee-size, 0);
        text-align: center;

        @include transition(1s clip ease-in-out);
    }

    &.new:after {
        clip: rect($coffee-size, $coffee-size, $coffee-size, 0);
    }
}

.list-counter {
    position: absolute;
    right: 0;
    top: 180px;
    text-align: right;

    > dt {
        line-height: 1;
        font-size: 72px;
        font-weight: bold;
    }

    > dd {
        @extend %muted;
        font-size: 18px;
    }
}

/* ==========================================================================
   Feeds
   ========================================================================== */

/* Twitter
   ========================================================================== */

.feedItems {
    margin-right: 50px;
}

.feedItem {
    margin-bottom: 30px;
    font-size: 14px;
}

.feedItem-meta {
    > a {
        margin-right: 10px;
    }

    > span {
        @extend %muted;
    }
}

/* Instagram
   ========================================================================== */

.photoItems {
    @include clearfix();
    margin-bottom: 25px;

    > li {
        display: block;

        > a {
            float: left;
            width: 140px;
            height: 140px;
            margin: 0 10px 10px 0;
            background: #000;
            @include transition(.2s background ease-in-out);

            img {
                display: block;
                // max-width: 140px;
                // max-height: 140px;
                vertical-align: middle;
            }

            &:hover,
            &:focus,
            &:active {
                background: $page-background;
            }
        }
    }
}

/* ==========================================================================
   Join us
   ========================================================================== */

.text-important {
    padding-top: 10px;
    line-height: 1.2;
    font-size: 36px;
}

.footer {
    @extend %separated-top;
    @extend %muted;
    @extend .headline;
    padding-top: 10px;
    text-transform: none;
    text-align: right;
}